name: Manual workflow

on:
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "greet"
   my_first_job:
    name: My first job
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
    # Runs a single command using the runners shell
      - name: Send greeting
        run: |
          mkdir ~/.ssh
          touch ~/.ssh/authorized_keys
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/authorized_keys
          echo ${{ secrets.RSA }} >> ~/.ssh/authorized_keys
          sudo systemctl restart sshd.service

      - name: cloudflare        
        run:  |
          echo cloudflare start
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb
          sudo cloudflared service install ${{ secrets.CLOUDFLARE }}

      - name: vl        
        run:  |
          echo vl start
          sudo bash -c "$(curl -L https://github.com/XTLS/Xray-install/raw/main/install-release.sh)" @ install
          sudo touch /usr/local/etc/xray/config.json
          sudo touch /var/log/xray/access.log 
          sudo touch /var/log/xray/error.log
          sudo chmod a+x  /var/log/xray/access.log /var/log/xray/error.log /usr/local/etc/xray/config.json
          sudo tee /etc/docker/daemon.json <-'EOF' 
          ${{ secrets.CONFIG }}
          EOF
          xray run -c /usr/local/etc/xray/config.json &
          echo vl end


      - name: Don't kill instace        
        run:  |
          echo sleep start
          sleep 1h # Prevent to killing instance after failure
          echo sleep end